bytecode==0.13.0
matplotlib==3.5.0
pytest==4.4.1
snapshottest==0.5.1
networkx==2.6.3
numpy==1.21.4
jax==0.3.24
jaxlib==0.3.24
mypy==0.790
dm-haiku==0.0.8
openai==0.25.0
gdown==4.6.0
optax==0.1.4
jraph